{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
    <h1>Challenge</h1>
    <form action="" method="post" novalidate>
    <div class="row">
        <div class="col-md-4">
            {{ wtf.form_field(form.challenger_name) }}
            {{ wtf.form_field(form.challenger_handedness) }}
            {{ wtf.form_field(form.challenger_paddle) }}
            {{ wtf.form_field(form.challenger_elo) }}
            {{ wtf.form_field(form.challenger_wins) }}
            {{ wtf.form_field(form.challenger_losses) }}
            {{ wtf.form_field(form.challenge_submit)  }}
        </div>
        <div class="col-md-4">
            {{ wtf.form_field(form.challenged_name) }}
            {{ wtf.form_field(form.challenged_handedness) }}
            {{ wtf.form_field(form.challenged_paddle) }}
            {{ wtf.form_field(form.challenged_elo) }}
            {{ wtf.form_field(form.challenged_wins) }}
            {{ wtf.form_field(form.challenged_losses) }}
            {{ wtf.form_field(form.challenge_calculate) }}
        </div>
        <div class="col-md-4">
            {{ wtf.form_field(form.descriptive_percent) }}
            {{ wtf.form_field(form.descriptive_accuracy) }}
            {{ wtf.form_field(form.non_descriptive_percent) }}
            {{ wtf.form_field(form.non_descriptive_accuracy) }}
            <h4>Correlation Matrix</h4>
            <img src="{{ url_for('corr_matrix_png') }}" alt="Correlation Matrix">
            <h4>Confusion Matrix</h4>
            <img src="{{ url_for('confusion_matrix_png') }}" alt="Confusion Matrix">
        </div>
    </div>
    <div class="row">
        <div class="col-md-2">
        </div>
    </div>
    </form>
{% endblock %}